<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Susy Grid Practice</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class ="page">
  <header>
    <p class="logo"><font size="6"><a href="#">MOST WANTED LANDSCAPE</a></font></p>
    <div class ="left_nav">
    <ul>
      <li><a href="#"><span>Contact <i class ="fa fa-envelope"></i></span></a></li>
      <li><a href="#"><span>About <i class="fa fa-users"></i></span></a></li>
      <li><a href="#"><span>Gallery <i class ="fa fa-picture-o"></i></span></a></li>
      <li><a href="#"><span>Home <i class ="fa fa-home"></i></span></a></li>
    </ul>
    </div>
  </header>

  {{{body}}}


  <footer>
    <p> <small>MOST WANTED LANDSCAPE LLC. All rights reserved.</small></p>
  </footer>

  </div>


  </body>
  </html>
